<!-- Sidebar -->
        <!-- <div class="list-group list-group-flush mx-3 mt-4"> -->
        <div class="container">
            <!-- Collapse 1 -->
            <div class="d-flex justify-content-center h5 text-light">Sidebar</div>
            <div class="conatiner my-3">
                <div class="list-group-item list-group-item-action py-2 ripple bg-dark">
                    <i class="fas fa-chart-area fa-fw me-3 text-light">Expanded menu</i>
                </div>

                <!-- Collapsed content -->
                <ul id="collapseExample1" class="collapse show list-group list-group-flush">
                    <li class="list-group-item py-1">
                        <p class="text-muted">Link1</p>
                    </li>
                    <li class="list-group-item py-1">
                        <p class="text-muted">Link2</p>
                    </li>
                    <li class="list-group-item py-1">
                        <p class="text-muted">Link3</p>
                    </li>
                </ul>
            </div>
            <!-- Collapse 1 -->
        </div>
<!-- Sidebar -->