.header{
    width: 100%;
}
.content{
    width: 100%;
    height: 70vh;
    /* background-color: rgb(212, 126, 126); */
}

.sidebar{
    background-color: black;
    width: 10;
}

.footer{
    width: 100%;
    height: 10vh
}

.sidebar{
    width: 30%;
    height: 70vh
}

::-webkit-scrollbar {
    display: none;
}