<div class="header">
  <app-navbar></app-navbar>
</div>

<!-- <div class="content row">
  <div class="sidebar col-lg-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-8 bg-secondary d-flex justify-content-center"> -->
<!-- <app-user></app-user> -->
<!-- </div>
</div> -->
<div class="body vh-100">
  <div class="row">
    <!-- <div class="col-2 d-none d-lg-block d-xl-block bg-primary vh-100">
      <app-sidebar></app-sidebar>
    </div> -->



    <div class="col-md-10 d-block">
      <div class="container overflow-auto vh-100">
        <div class="h4 py-5 text-warning d-flex justify-content-center">Ask your questions...</div>
        <app-questions></app-questions>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
