<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <p class="container text-warning d-flex justify-content-start h1 my-1">
      Demo Project
    </p>
  </div>
  <div class="container-fluid d-flex justify-content-end">
    <button class="btn btn-success" (click)="onLogin()">Login</button>
  </div>
</nav>
<div class="content" >
  <div class="h1 text-info d-flex justify-content-center">
    Welcome
  </div>
  <div class="container-fluid d-flex justify-content-center vh-100 pb-4">
    <!-- <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="img-fluid" alt="Wild Landscape" /> -->
    <img src="assets/images/background1.jpg" class="img-fluid" alt="Wild Landscape" />
  </div>
</div>